.photoslider {
    height: 720px;
}

.photoslider__header {
    padding-left: 262px;
    padding-top: 95px;
    font-family: 'Orchidea Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #141414;
}


.photoslider__slider {
    overflow: scroll;
    padding: 123px 261px 160px 261px;
}

.photoslider__sliderWrap {
    transition: transform .5s;
}

.photoslider__images {
    display: flex;
}

.photoslider__slider::-webkit-scrollbar {
    display: none;
}

.photoslider__slider__Photo {
    width: 320px;
    height: 489px;
}

.photoslider__slider__Photo + .photoslider__slider__Photo {
    margin-left: 40px;
}