.photoslider {
    height: 720px;
    margin-left: 261px;
}

.photoslider__header{
    padding-top: 95px;
    font-family: 'Orchidea Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #141414;
}


 .photoslider__slider {
    overflow-x: auto;
    padding: 0 261px;
    width: 100%;
    /* overflow-x: auto;
      padding: 0 261px;
     width: 100%; */

}

/* img {
    width: 320px;
    height: 488px;
}

img + img {
    margin-left: 20px;
} */